global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: '${app_name}'
    static_configs:
      - targets: ['${app_name}:${port}']
    metrics_path: '/metrics'
    scrape_interval: 5s

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090'] 